Unattended-Upgrade::Allowed-Origins {
	"${distro_id}:${distro_codename}";
	"${distro_id}:${distro_codename}-updates";
	"${distro_id}:${distro_codename}-backports";
	"${distro_id}:${distro_codename}-security";
};

Unattended-Upgrade::Mail "{{ unattended_upgrades_mail }}";
Unattended-Upgrade::DevRelease "{{ unattended_upgrades_devrelease }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ unattended_upgrades_remove_unused_kernel_packages }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ unattended_upgrades_remove_new_unused_dependencies }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ unattended_upgrades_remove_unused_dependencies }}";
Unattended-Upgrade::Automatic-Reboot "{{ unattended_upgrades_automatic_reboot }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ unattended_upgrades_automatic_reboot_withusers }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_automatic_reboot_time }}";
Unattended-Upgrade::MailReport "{{ unattended_upgrades_mailreport }}";
